<h1 mat-dialog-title>Create Issue</h1>
<mat-dialog-content>
  <form [formGroup]="issueForm">
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Summary</mat-label>
        <input matInput type="text" formControlName="summary" required />
        <mat-hint>Summarize the issue in one or two lines</mat-hint>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Description</mat-label>
        <input matInput type="text" formControlName="description" required />
        <mat-hint>Describe the issue in detail</mat-hint>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Priority</mat-label>
        <mat-select formControlName="priority" required>
          <mat-option *ngFor="let priority of priorities" [value]="priority">{{
            priority
          }}</mat-option>
        </mat-select>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Status</mat-label>
        <mat-select formControlName="status" required>
          <mat-option *ngFor="let status of statuses" [value]="status">{{
            status
          }}</mat-option>
        </mat-select>
      </mat-form-field>
    </p>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button
    [disabled]="issueForm.invalid"
    mat-flat-button
    color="primary"
    (click)="createIssue()"
  >
    Create
  </button>
</mat-dialog-actions>
